*{
    padding: 0;
    margin: 0;
}
header{
    background-color: antiquewhite;
    height:70vh;
    width:100vw;
    position: relative;
}
header ul {
    position:absolute;
    right:2vw;
    top:0;
    line-height:70vh;
}
header a {
    color:grey;
    text-decoration: none;
    font-size: 4vw;
}
header a:hover{
    text-decoration: underline; 
}
header li{
    display:inline;
    margin-right:3vw;
}
h1{
    color:rgb(17, 107, 17);
    position: absolute;
    left: 3vw;
    line-height: 70vh;
    background-image:url(images/logo_t.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: -999vw;
}
.introduction{
    background-color:aliceblue;
}
.Index{
    background-color:azure;
    color: darkblue;
    height: 85vh;
    background-image: url(images/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Index h2{
    font-size: 40px;
}
.Index p{
    color:rgb(18, 18, 185);
    font-size: 18px;
    margin:25px 0;
}
.Index a{
    color: gray;
    text-decoration: none;
    border:1px gray solid;
    padding:10px 20px;
    border-radius: 5px;
}
.Railgun{
    background-color:rgba(255, 166, 0, 0.496);
    color: rgb(141, 212, 243);
    height: 40vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Railgun h2{
    font-size: 40px;
}
.Railgun blockquote{
    font-size: 20px;
    line-height: 1.8em;
}
footer{
    background-color:black;
    color: rgb(255, 255, 255);
    height: 10vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

