*{
    padding: 0;
    margin: 0;
}
header{
    background-color: antiquewhite;
    height:70vh;
    width:100vw;
    position: relative ;
}
header ul {
    position:absolute;
    right:2vw;
    top:0;
    line-height:70vh;
}
header a {
    color:grey;
    text-decoration: none;
    font-size: 4vw;
}
header a:hover{
    text-decoration: underline; 
}
header li{
    display:inline;
    margin-right:3vw;
}
h1{
    color:rgb(17, 107, 17);
    position: absolute;
    left: 1vw;
    line-height: 70vh;
    background-image:url(images/logo_t.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:20%;
    height:70vh;
    text-indent: -999vw;
}
.Index{
    background-color:azure;
    color: darkblue;
    height: 85vh;
    background-image: url(images/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Index h2{
    font-size: 40px;
}
.Index p{
    color:rgb(18, 18, 185);
    font-size: 18px;
    margin:25px 0;
}
.Index a{
    color: gray;
    text-decoration: none;
    border:1px gray solid;
    padding:10px 20px;
    border-radius: 5px;
}
.Railgun{
    background-color:rgba(255, 166, 0, 0.496);
    background-image: url(images/RaillgunT.png);
    background-repeat: no-repeat;
    background-position: center;
    color:rgb(234, 128, 0);
    height: 85vh;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Railgun h2{
    font-size: 47px;
}
.Railgun blockquote{
    font-size: 25px;
    line-height: 1.8em;
    color:coral;
}
footer{
    background-color:rgba(0, 0, 0, 0.652);
    color: lightslategray;
    height: 8vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    position:fixed;
    width:100vw;
    bottom: 0;
}
.Misaka{
    background-color:aliceblue;
    display: flex;
}
.text{
    width:33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text h2{
    font-size: 4vw;
    margin-bottom: 3vw;
}
.text p{
    text-align: center;
    line-height: 2em;
    font-size: 2vw;
}
.Misaka img{
    width:33%;
}
.Misaka video{
    width:33%
}
.Kyara1{
    display: flex;
    background-color: blanchedalmond;
    justify-content: space-evenly;
    align-items: center;
    padding : 3vw 1vw 2vw;
}
.Kyara1 div{
    width: 300px;
    text-align: center;
}
.Kyara1 img{
    width: 100%;
    border-radius: 10px;
}
.Kyara1 h3{
    font-size: 20px;
    margin:1vw 1vw 1vw;
}
.Kyara2{
    display: flex;
    background-color: blanchedalmond;
    justify-content: space-evenly;
    align-items: center;
    padding : 3vw 1vw 2vw;
}
.Kyara2 div{
    width: 300px;
    text-align: center;
}
.Kyara2 img{
    width: 100%;
    border-radius: 10px;
}
.Kyara2 h3{
    font-size: 20px;
    margin:1vw 1vw 1vw;
}
.letter{
    background-color:rgb(61, 77, 34);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10vh;
    height: 53vh;
}
.letter input, .letter button{
    background-color: transparent;
    color: white;
    border:1px solid gainsboro;
    padding:10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 1vw;
}
.letter input{
    width: 200px;
    margin-right: 1vw;
}
.letter button{
    width:80px;
    cursor:pointer;
}
.letter ::placeholder{
    color:white;
}
.letter{
    outline:none;
    border-color:aquamarine;
}
.menu{
    display:none;
}
/*響応式  */
@media screen and (max-width:768px)
{
    header ul{
        display:none;
    }
    header h1{
        left:50%;
        transform:translate(-50%);
        width: 50%;
        top:2%;
    }
    .menu{
        display: block;
        background-color: transparent;
        color:gray;
        font-size: 40px;
        position: absolute;
        top:5px;
        left:30px;
        border:none;
        cursor: pointer;
        
    }
}